body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    cursor: pointer;
}

.done {
    text-decoration: line-through;
}

.add-todo {
    margin-top: 10px;
}
